{% extends 'schedule/base.html' %}

{% block content %}
<section>
    <h1>{% if form.instance.pk %}Редактирование{% else %}Добавление{% endif %} преподавателя</h1>
    
    <form method="post">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.help_text %}
            <div class="help-text">{{ field.help_text }}</div>
            {% endif %}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        
        <div style="margin-top: 30px;">
            <button type="submit" class="btn btn-success">💾 Сохранить</button>
            <a href="/schedule/teachers/" class="btn">Отмена</a>
        </div>
    </form>
</section>
{% endblock %}